
main{
  position: absolute;
  height:800px;
  width: 480px;
  overflow-y: auto;


}

body{
  margin: 0;
}

.base {

  bottom: 0;
  position: absolute;
  visibility: visible;

}


.torreIncialPos{
  right: 0%;

  bottom: 160px;
  position: absolute;
  visibility: visible;


}
.torrePos{
  right: 0%;
  position: absolute;
  visibility: visible;
}

.pausa{
  top: 20px;
  left: 40px;
  position: absolute;
  visibility: visible;
}
