

/*
main{
  position: absolute;
  height: 800px;
  width: 480px;

}

body{
  margin: 0;
}

.inicio {

  bottom: 0;
  position: absolute;
  visibility: visible;

}

.boton{
  bottom:15%;
  left: 250px;
  position: absolute;
  visibility: visible;


}

.boton:active{
    background-image: url("../img/botonPlayPresionado.png");

}
*/
html, body{
  overflow: hidden;
  margin: 0;
  padding: 0;
}