main{
  position: absolute;
  width: 480px;
  overflow-y: auto;


}

body{
  margin: 0;
}

.base {

  bottom: 0;
  position: absolute;
  visibility: visible;

}

.coltejer {

  bottom: 10%;
  left: 50%;
  position: absolute;
  visibility: visible;

}

.teatrico {

  bottom: 33%;
  left: 10%;
  position: absolute;
  visibility: visible;

}

.pueblito {

  top: 5%;
  right:5%;
  position: absolute;
  visibility: visible;

}
